<h1><%= @task.title %></h1>

<p><%= @task.details %></p>

<p><%= @task.completed ? "You have completed this task" : "You have not completed this task" %></p>

<%# tasks_path is back to the main directory, based on prefixes %>
<%= link_to 'back to Task list', tasks_path %>


<%= link_to 'Delete',
 task_path(@task),
 data: {turbo_method: :delete, turbo_confirm: "are you sure?"}
 %>

<%= link_to 'Edit', task_update_path(@task) %>
